.header {
    display: flex;
    justify-content: space-between;
    padding-top: 15px;
}

.headerleft {
    display: flex;
    display: inherit;
    flex-direction: row;
}

.header-logo {
    display: flex;
    margin-right: 25px;
}


.search {
    display: flex;
    align-items: center;
}

.search-input {
    border: 1px solid #D9D9D9;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    height: 42px;
    background: url(../images/icons/search-input.svg) no-repeat;
    background-position: left 13px bottom 13px;
    padding-left: 37px;
}

.search-place {
    display: flex;
    align-items: center;
    border-top: 1px solid #D9D9D9;
    border-bottom: 1px solid #D9D9D9;
    height: 42px;
    padding-left: 15px;
    padding-right: 95px;
    
}


.search-input::placeholder {
    font-size: 16px;
}

#btn-search {
    height: 42px;
    width: 42px;
    background-color: #F65858;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    align-content: center;
    padding-left: 10px;
    
}

#btn-search:hover {
    background-color: #d64b4b;
}

button {
    border: none;
}


.headerright a{
    text-decoration: none;
    display: flex;
    align-items: center;
    color: rgba(33, 33, 33, 1);

}
.header-buttons {
    display: flex;
    align-items: center;
    gap: 10px;
    
}
.header-button {
    background-color: white;
    padding: 5px 10px;
    cursor: pointer;
    
}
.sign-up-button {
    background-color: rgba(0, 121, 138, 1);
    top: 322.5px;
    padding: 8px 15.8px 8px 16px;
    gap: 0px;
    border-radius: 8px;
    border: none;
    color: rgba(255, 255, 255, 1);
}



@media (max-width: 1600px) {
      
    .headerright {
        margin-left: 0;
    }
    .headerright {
        margin-right: 0;
    }
    .headerleft {
        margin-left: 0;
    }
   
}
@media (max-width: 992px) {
      
    #search-place {
        display: none;
    }
   
}

@media (max-width: 760px) {
      
    .headerleft {
        flex-direction: column;
        width: 100vw;
        position: relative;
    }
    .header {
        position: relative;
    }
   #header-logo {
    margin-bottom: 10px;
   }
    .search {
        width: 100%;
    }
    .search-input {
        width: 100%;
    }
  
   .headerright {
    position: absolute;
    right: 0px;
   }

   #sign-up-button {
    margin-right: 0;
   }
}

@media (max-width: 340px){
    .lheader-logo {
        max-width: 75px;

  }

  #sign-up-button {
    margin-left: 8px;
  }

  #log-in {
    margin-left: 8px;
  }
}